@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');

body {
    margin: 0 auto;
    background: lightblue;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.shortener {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 10%;
}
input, #output {
    display: block;
    height: 50px;
    border-radius: 5px;
    width: calc(100% - 150px);
    margin: 15px auto;
    border: 1px solid;
    background: #fff;
    font-size: 18px;
    line-height: 50px;
}
p {
text-transform: uppercase;
font-size: 16px;
text-align: center;
}

div {
    height: 50px;
    font-size: 18px;
}

button {
    display: block;
    margin: 0 auto;
    height: 75px;
    width: 225px;
    border-radius: 15px;
    background: turquoise;
    transition: .3s ease-in-out;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'ZCOOL KuaiLe', cursive;
}

button:hover {
    background: lightgreen;
    cursor: pointer;
    transform: scale(1.1);
}